openapi: 3.0.1
info:
  title: NanoFingerprint Toxicity Prediction Webservices
  version: 0.0.2
servers:
- url: https://atena.urv.cat/model/api/
paths:
  /puzyn_2011:
    post:
      description: Prediction of toxicity of Metal-Oxide (log(1/EC50))
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PuzynMessage'
      responses:
        200:
          description: OK
  /2022_papas_eq1:
    post:
      description: LDH(TiO2+ZnO): Papa 2015
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PapaMessage'
      responses:
        200:
          description: OK
  /2022_papas_eq2:
    post:
      description: LDH(TiO2): Papa 2015
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PapaShorterMessage'
      responses:
        200:
          description: OK
  /2022_papas_eq3:
    post:
      description: LDH(ZnO): Papa 2015
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PapaMessage'
      responses:
        200:
          description: OK
  /anantha_2021:
    post:
      description: Toxicity Metal-Oxide: Anantha 2021
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnanthaMessage'
      responses:
        200:
          description: OK

components:
  schemas:
    PuzynMessage:
      type: object
      properties:
        GasCation:
          type: number
          description: Enthalpy of formation of a gaseous cation (kcal/mol)
      required:
        - GasCation
    PapaShorterMessage:
      type: object
      properties:
        Size:
          type: number
          description: Size (diameter in nm)
        Concentration:
          type: number
          description: Concentration (mg/L)
      required:
        - Size
        - Concentration
    PapaMessage:
      type: object
      properties:
        Size:
          type: number
          description: Size (diameter in nm)
        Concentration:
          type: number
          description: Concentration (mg/L)
        SizeInPbs:
          type: number
          description: Size in Pbs (diameter in nm)
      required:
        - Size
        - Concentration
        - SizeInPbs
    AnanthaMessage:
      type: object
      properties:
        Size:
          type: number
          description: Size (nm)
        Hydro:
          type: number
          description: HydroSize (nm)
        Charge:
          type: number
          description: SurfCharge (eV)
        Area:
          type: number
          description: SurfArea (nm2)
        Ec:
          type: number
          description: Ec (eV)
        Time:
          type: number
          description: Time (s)
        Dose:
          type: number
          description: Dose (mg)
        Eneg:
          type: number
          description: Eneg (eV)
        Noxygen:
          type: number
          description: NOxygen
      required:
        - Size
        - Hydro
        - Charge
        - Area
        - Ec
        - Time
        - Dose
        - Eneg
        - Noxygen
